# Virtual environments
venv/
.venv/

bstld_yolo_format

*.out

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Models
*.pt

# Logs
runs/
new/

logs/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

data/

#ignoree benchmarks
benchmarks
outputs/seadronesee/benchmark_results_pw8_thr*/
bosch/


# Kayuan nay nam trong data/kayuan (da bi ignore boi data/)
label1_unzipped/

eval_logs/kayuan_gridnet_val_thr010
